@{
    ViewBag.Title = "Authorization Error";
    Layout = null;
}
<div id="maincontent">
    <h2>Authorization Error</h2>

    <h4>Sorry. You do not have the required permissions to complete this operation.</h4>
</div>
