<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ClickTicker&trade; .: About</title>
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/media.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/main.css" />
    <script src="/content/js/jquery-1.11.0.js"></script>
    <script src="/content/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">-->

</head>

<body>
    @Html.Partial("_GoogleAnalytics")
    <div class="top_sec">
        <div class="top_in">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand logo" href="index.html"><img src="/images/logo.png" alt="Logo" class="img-responsive" /></a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li> <a href="/">HOME</a> </li>
                                <li> <a href="/about" class="active">ABOUT</a> </li>
                                <li> <a href="/contact">CONTACT</a> </li>
                                <li> <a href="/pricing">PRICING</a> </li>
                                <li class="sign_in"> <a href="/pricing">FREE SIGN UP</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pg_hdg">About</div>
        </div>
    </div>
    <div class="content_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="content" style="/* text-align:justify; */">
                        ClickTicker&trade; is a cutting-edge solution built by marketers, for marketers. With over two decades of experience in direct response campaigns, we understand the challenges and pitfalls in our industry. ClickTicker&trade; was built to bridge those gaps. Our management team brings a wealth of experience to help you maximize your marketing initiatives. <br /><br />
                        ClickTicker.com is the only licensed distributor of US Patent US 8,244,584 B1, relaying REAL TIME TRANSPARENCY™ to media buyers across the internet. We understand that knowledge is power.
                    </p>
                    <p class="hdg" style="font-size:3.3em">FEATURES<br /><br /></p>
                    <p class="hdg">
                        Real Time Scrolling
                    </p>
                    <p class="content" style="/* text-align:justify; */">
                        Why does Wall Street track it’s money with a real time, scrolling, ticker? Because it works!<br />
                        Eliminate constant refreshes, logins and data pulls. Critical Data now is now alive on our desktop and handheld device.
                    </p>
                    <p class="hdg">Multiple Actions</p>
                    <p class="content" style="/* text-align:justify; */"> We recognize that there isn’t a one size fits all solution for tracking marketing campaigns. That’s why we’ve incorporated the ability to specify multiple actions. Truly customize your unique campaign by specifying the flow from impressions to clicks to leads to conversions. </p>
                    <p class="hdg">Geo Targeting</p>
                    <p class="content" style="/* text-align:justify; */"> Servicing clients in various countries? No problem. Our targeting feature allows you to redirect users to your relevant destination based on locale. </p>
                    <p class="hdg">Employee Whitelisting</p>
                    <p class="content" style="/* text-align:justify; */"> Don’t let your team’s testing skew your results. Our employee whitelisting feature allows you to specify members of your team so that their actions don’t count towards your true metrics. You no longer need to back out test data. </p>
                    <p class="hdg">Real Time Ticker</p>
                    <p class="content" style="/* text-align:justify; */"> The heart of ClickTicker&trade; is our streaming ticker. Much like a stock ticker on Wall Street, this data is updated in real-time. Configure your ticker to view the data and stats you want. Track your spend and revenue without having to pull reports. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btm_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="btm_box">
                        <div class="btm_hdg">about us</div>
                        <div class="btm_cont"> ClickTicker&trade; is a cutting-edge solution built by marketers, for marketers. Our management team brings a wealth of experience to help you maximize your marketing initiatives. </div>
                        <div class="social_icon"> <a href="#"><img src="/images/fb.png" width="24" height="21" alt="" /></a> <a href="#"><img src="/images/twitter.png" width="24" height="21" alt="" /></a> <a href="#"><img src="/images/google.png" width="24" height="21" alt="" /></a> <a href="#"><img src="/images/pinterest.png" width="24" height="21" alt="" /></a> <a href="#"><img src="/images/instagram.png" width="24" height="21" alt="" /></a> </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="btm_box">
                        <div class="btm_hdg">get in touch</div>
                        <div class="btm_cont">
                           
                            Sales: sales@clickticker.com<br />
                            Support: support@clickticker.com<br />
                            Phone: 888-683-4872<br />
                            <br />
                            Level 2, Regional Business Centre<br />
                            University Heights<br />
                            Msida MSD 1751, Malta
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="btm_box">
                        <div class="btm_hdg">newsletter</div>
                        <div class="btm_cont">
                            Recieve news & updates about ClickTicker&trade;.<br />
                            <div class="news_letter">
                                <form>
                                    <input type="text" value="" id="email" name="email" class="txtfld" placeholder="Your email" />
                                    <input type="submit"
                                           class="submit" value="SUBSCRIBE" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>© 2014 ClickTicker&trade; US Patent US 8,244,584 B1</footer>
<a title="Web Analytics" href="http://clicky.com/100857864"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100857864); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100857864ns.gif" /></p></noscript>
</body>
</html>
