@{
    List<string> dataview = new List<string>() { "", "Today", "Yesterday", "Last 7 Days", "This Month", "Last Month", "Last Six Months", "All Time on reports" };
}

<div class="form-horizontal rform">

    <div class="row">
        <div class="col-xs-12 col-sm-3">

            <div class="form-group">
                <label for="selectedview" class="col-xs-3 control-label mlabel">View:</label>
                <div class="col-xs-9 input-group">
                    @Html.DropDownList("selectedview", new SelectList(dataview, ViewBag.ViewData), new { @class = "form-control" })
                    <i></i>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-3">

            <div class="form-group">
                <label for="fromdate" class="col-xs-3 control-label mlabel">From:</label>
                <div class="col-xs-9 input-group">

                    <input name="fromdate" value="@ViewBag.FromDate" class="form-control text rtimepicker" id="fromdate" style="position: relative; z-index: 1999;" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-3">

            <div class="form-group">
                <label for="todate" class="col-xs-3 control-label mlabel">To:</label>
                <div class="col-xs-9 input-group">

                    <input name="todate" value="@ViewBag.ToDate" class="form-control text rtimepicker" id="todate" style="position: relative; z-index: 1999;" />

                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-3">


            <button type="button" class="btn btn-default " id="run">

                <i class="fa  fa-refresh"></i>@*&nbsp; Run Report*@

            </button>

            <button type="button" class="btn btn-default" id="export">
                <i class="fa fa-save"></i>@*&nbsp; Export to CSV*@

            </button>



        </div>
    </div>

</div>

<script>

    $('.rtimepicker').each(function () {
        var $this = $(this);
        $this.datetimepicker({
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            closeOnDateSelect: true,
            onSelectDate: function (dateText, inst) {
                //$.ajax({
                //    type: "POST",
                //    url: "/SignalRNotify/NotificationChangeDatepicker",
                //    data: "{timezone:'" + $('#rzone').val() + "',viewdata:'" + $('#selectedview').val() + "',fromdate:'" + $('#fromdate').val() + "',todate:'" + $('#todate').val() + "',dataview:'testing'}",
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (data) {
                //    }
                //});
                $('#selectedview').val('');
                refreshTable();
            },
            onSelectTime: function (dateText, inst) {

                $('#selectedview').val('');
                refreshTable();
            }
        });
    });
    

    $('#selectedview').change(function () {
        // alert("change");
        refreshTable();
    });

</script>
